In [27]:
import pandas as pd

In [121]:
persons = pd.read_csv("illinois_doc_dataset/csv/person.csv", delimiter = ';')

In [125]:
persons.head()

,id,name,date_of_birth,weight,hair,sex,height,race,eyes,admission_date,...,projected_discharge_date,parole_date,electronic_detention_date,discharge_date,parent_institution,offender_status,location,sex_offender_registry_required,alias,Unnamed: 21
0,A00147,"MCCUTCHEON, JOHN",06/14/1949,185.0,Brown,Male,67.0,White,Blue,02/16/1983,...,10/06/2036,NaN,NaN,NaN,DIXON CORRECTIONAL CENTER,IN CUSTODY,DIXON,True,NaN,NaN
1,A00220,"WALKER, ISIAH",03/30/1957,155.0,Black,Male,73.0,Black,Brown,05/19/2016,...,NaN,NaN,NaN,NaN,STATEVILLE CORRECTIONAL CENTER,NON-IDOC CUSTODY,ILL/OTH STATE/FED CONCURR,NaN,NaN,NaN
2,A00360,"BELL, HOWARD",12/18/1946,167.0,Gray or Partially Gray,Male,69.0,White,Green,02/26/1988,...,TO BE DETERMINED,10/02/2017,NaN,NaN,PINCKNEYVILLE CORRECTIONAL CENTER,PAROLE,PAROLE DISTRICT 1,NaN,HOWARD R BELL | DONALD BROADSTONE | RONALD B...,NaN
3,A00367,"GARVIN, RAYMOND",01/12/1954,245.0,Black,Male,72.0,Black,Brown,11/09/2017,...,11/20/2020,NaN,NaN,NaN,WESTERN ILLINOIS CORRECTIONAL CENTER,IN CUSTODY,WESTERN ILLINOIS,NaN,NaN,NaN
4,A01054,"TIPTON, DARNELL",03/25/1954,166.0,Salt and Pepper,Male,67.0,Black,Brown,12/23/1988,...,08/14/2068,NaN,NaN,NaN,MENARD CORRECTIONAL CENTER,IN CUSTODY,MENARD,True,NaN,NaN

In [127]:
persons.columns

Index(['id', 'name', 'date_of_birth', 'weight', 'hair', 'sex', 'height',
       'race', 'eyes', 'admission_date', 'projected_parole_date',
       'last_paroled_date', 'projected_discharge_date', 'parole_date',
       'electronic_detention_date', 'discharge_date', 'parent_institution',
       'offender_status', 'location', 'sex_offender_registry_required',
       'alias', 'Unnamed: 21'],
      dtype='object')

In [139]:
persons_proc = pd.DataFrame()

In [145]:
persons_proc['id'] = persons['id']
persons_proc['weight'] = persons['weight']
persons_proc['height'] = persons['height']
persons_proc['sex'] = persons['sex']
persons_proc.head()

       id  weight  height   sex
0  A00147   185.0    67.0  Male
1  A00220   155.0    73.0  Male
2  A00360   167.0    69.0  Male
3  A00367   245.0    72.0  Male
4  A01054   166.0    67.0  Male

In [147]:
persons_proc['BMI'] = (persons_proc['weight']/(persons_proc['height']**2))*703

In [149]:
persons_proc.head()

       id  weight  height   sex        BMI
0  A00147   185.0    67.0  Male  28.971931
1  A00220   155.0    73.0  Male  20.447551
2  A00360   167.0    69.0  Male  24.658895
3  A00367   245.0    72.0  Male  33.224344
4  A01054   166.0    67.0  Male  25.996436

In [155]:
persons_proc.to_csv('persons_processed.csv', index = False)